<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Order Mail</title>

<body>

  <div style="width: 100%; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #124E58;">
    <table style="width: 100%; max-width: 600px; margin: 0 auto; padding: 20px; background-color: white;">
      <tr>
        <td>
          <img src='<%= toplogo %>' alt="" style="max-width: 100%; height: auto; display: block;" />
        </td>
        <td>
          <% const date=new Date(order.date); %>
            <% const formattedDate=date.toLocaleDateString('en-US', { month: 'long' , day: 'numeric' , year: 'numeric'
              });%>
              <p style="text-align: right;">
                <%= formattedDate %>
              </p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <img src='<%= orderlogo %>' alt=""
            style="max-width: 100%; height: auto; display: block; margin: 0 auto; margin-bottom: 32px;" />
          <p style="font-size: 32px; font-weight: 600; color: #0D3D4B; text-align: center;">
            Your order is on its way
          </p>
          <p style="color: slategray; font-size: 16px; font-weight: normal; text-align: center;">
            Please allow 24 hours to track your order
          </p>
          <p style="text-align: center;">
            <button
              style="background-color: #F2C852; color: #0D3D4B; padding: 12px 14px; border-radius: 50px; font-weight: 600; font-size: 16px; margin-top: 16px; cursor: pointer;">
              Track your order
            </button>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table style="width: 100%; border-collapse: collapse; border-spacing: 0;">
            <tr>
              <td style="padding: 12px; border: 1px solid #e2e8f0; vertical-align:top">
                <p style="font-size: 18px; color: #124E58; margin-bottom: 20px; font-weight: 600;">
                  Summary:
                </p>
                <p>
                  <span>Order:</span> <span style="margin-left: 8px;">#<%= order.id %></span>
                </p>
                <p>
                  <span>Order Date:</span>
                  <span style="margin-left: 8px;">
                    <%= formattedDate %>
                  </span>
                </p>
                <p>
                  <span>Order Total:</span>
                  <span style="margin-left: 8px;">$<%= order.total %></span>
                </p>
              </td>
              <td style="padding: 12px; border: 1px solid #e2e8f0; vertical-align:top">
                <p style="font-size: 18px; color: #124E58; margin-bottom: 20px; font-weight: 600;">
                  Shipping Address:
                </p>
                <p>
                  <%= order.shippingaddress.area %>, <%= order.shippingaddress.city %>,
                      <%= order.shippingaddress.address%>, <%= order.shippingaddress.zip %>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table style="width: 100%; border-collapse: collapse; border-spacing: 0; margin-top: 5px;">
            <thead style="font-size: 14px; color: #124E58; font-weight: 600;">
              <tr>
                <td style=" text-align: left; border-bottom: 1px solid #e2e8f0;">Product List</td>
                <td style=" text-align: left; border-bottom: 1px solid #e2e8f0;">Qty</td>
                <td style="text-align: right; border-bottom: 1px solid #e2e8f0;">Price</td>
              </tr>
            </thead>
            <tbody>
              <% let totalTax=0; %>
                <% let totalFee=0; %>
                  <% let totalPrice=0; %>
                    <% if (order.products?.length>0) { %>
                      <% order.products.forEach((product)=> { %>
                        <tr style="border-bottom: 1px solid #e2e8f0;">
                          <td style="padding: 8px; text-align: left;">
                            <div style="display: flex; align-items: center;">
                              <img src='<%= serverLink + product.product.images[0] %>' alt=""
                                style="width: 64px; height: 64px; border-radius: 0.25rem;" />
                              <p style="font-size: 16px; font-weight: normal; max-width: 250px; margin-left: 8px;">
                                <%= product.product.name %>
                              </p>
                            </div>
                          </td>
                          <td style="padding: 8px;">
                            <div style="display: flex; align-items: center;">
                              <%= product.productQuantity %>
                            </div>
                          </td>
                          <td style="text-align: right;">
                            <span>৳ <%= product.product.price + product.product.tax + product.product.fee %> tk</span>
                          </td>
                        </tr>
                        <% totalTax +=product.product.tax; %>
                          <% totalFee +=product.product.fee; %>
                            <% totalPrice +=product.product.price * product.productQuantity; %>
                              <% }); %>
                                <% } %>
                                  <% if (order.requests?.length>0) { %>
                                    <% order.requests.forEach((request)=> { %>
                                      <tr style="border-bottom: 1px solid #e2e8f0;">
                                        <td style="padding: 8px; text-align: left;">
                                          <div style="display: flex; align-items: center;">
                                            <img src='<%= serverLink + request.request.images[0] %>' alt=""
                                              style="width: 64px; height: 64px; border-radius: 0.25rem;" />
                                            <p
                                              style="font-size: 16px; font-weight: normal; max-width: 250px; margin-left: 8px;">
                                              <%= request.request.name %>
                                            </p>
                                          </div>
                                        </td>
                                        <td style="padding: 8px; text-align: left;">
                                          <div style="display: flex; align-items: center;">
                                            <%= request.requestQuantity %>
                                          </div>
                                        </td>
                                        <td style="padding: 8px; text-align: right;">
                                          <span>৳ <%= request.request.price %> tk</span>
                                        </td>
                                      </tr>
                                      <% totalTax +=request.request.tax; %>
                                        <% totalFee +=request.request.fee; %>
                                          <% totalPrice +=request.request.price * request.requestQuantity; %>
                                            <% }); %>
                                              <% } %>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td style="width: 50%;"></td>
        <td>
          <table style="width: 100%; border-collapse: collapse; border-spacing: 0;">
            <tbody>
              <tr style="border-bottom: 1px solid #e2e8f0;">
                <td style="padding: 16px; text-align: left;">Seller Takes</td>
                <td style="text-align: right;">৳ <%= totalPrice %> tk</td>
              </tr>
              <tr style="border-bottom: 1px solid #e2e8f0;">
                <td style="padding: 16px; text-align: left;">Seller Taxes</td>
                <td style="text-align: right;">৳ <%= totalTax %> tk</td>
              </tr>
              <tr style="border-bottom: 1px solid #e2e8f0;">
                <td style="padding: 16px; text-align: left;">Packers Fee</td>
                <td style="text-align: right;">৳ <%= totalFee %> tk</td>
              </tr>
              <tr style="border-bottom: 1px solid #e2e8f0;">
                <td style="padding: 16px; text-align: left;">Delivery Charge</td>
                <td style="text-align: right;">৳ <%= order.insideDhaka ? '99' : '150' %> tk</td>
              </tr>
              <% if (order.discountApplied){ %>
                <tr style="border-bottom: 1px solid #e2e8f0;">
                  <td style="padding: 16px; text-align: left;">Discount Applied</td>
                  <td style="text-align: right;">
                    <%= order.discountApplied.code %>
                  </td>
                </tr>
                <% }%>
                  <tr>
                    <td style="padding: 16px; text-align: left; font-weight: bold;">Estimated total</td>
                    <td style=" text-align: right; font-size: 24px; font-weight: bold;">৳ <%= order.total %>
                        tk
                    </td>
                  </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p style="text-align: center; margin-top: 16px; margin-bottom: 16px;">
            <a href='<%= homeLink %>' style="text-decoration: none;">
              <button
                style="background-color: #F2C852; color: #0D3D4B; padding: 12px 14px; border-radius: 50px; width: 100%; font-size: 14px; font-weight: bold; cursor: pointer;">
                Keep Shopping with us
              </button>
            </a>
          </p>
        </td>
      </tr>
    </table>
    <table style="width: 100%; max-width: 600px; margin: 0 auto; padding-top: 20px;">
      <tr>
        <td style="text-align: center;">
          <img src='<%= whitelogo %>' alt="" style="max-width: 100%; height: auto;" />
        </td>
      </tr>
    </table>
  </div>
</body>

</html>